/*********************RESETEO*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*******************RESPONSIVE*******************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 480px) and (max-device-width: 720px) {
  /* Styles */ }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 481px) {
  /* Styles */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px) {
  /* Styles */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*******************TIPOGRAFIAS*******************/
h3, li, footer {
  font-family: 'Oswald',sans-serif; }

h1 {
  font-family: 'Oswald',sans-serif;
  font-size: 10px; }

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px; }

p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  border-radius: 15px; }

.option {
  font-family: 'Oswald', sans-serif;
  background-color: #e2b67d;
  color: white; }

.centrado {
  display: flex;
  justify-content: center; }

/*******************COLORES*******************/
header {
  color: #e4bd8b;
  background-color: #e2b67d; }

h2 {
  color: #e2b67d;
  background-color: #f5dec0; }

h3 {
  color: white;
  background-color: #e2b67d;
  border-radius: 45px; }

li {
  color: white; }

p {
  color: white;
  background-color: #e2b67d; }

footer {
  color: white; }

.colorOpcion {
  color: #e2b67d; }

.imagenNombre {
  background-color: white;
  font-size: 35px; }

.footer {
  background-image: linear-gradient(to bottom left, #e4bd8b, #e2b67d); }

/*********************METODOLOGIA BEM--BLOQUE-ELEMENTO-MODIFICADOR*********************/
/****BLOQUE****/
.bloque {
  display: inline-flex;
  height: 320px;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  justify-content: center; }

/****ELEMENTO****/
.bloque__elemento {
  border-radius: 10px; }

/*********************ESTILOS GENERALES*********************/
body {
  background-image: url(../imagen/fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

section {
  flex-direction: row;
  justify-content: space-between;
  align-content: center; }

img {
  width: 400px;
  height: 300px;
  border-radius: 20px; }

header {
  position: initial;
  bottom: 0;
  width: 100%; }

/*********************CLASES*********************/
.body {
  height: 145vh; }

.tituloCom {
  width: 15vh;
  color: #e2b67d; }

.tituloNegrita {
  font-weight: bold; }

.tipoPosicion {
  list-style-position: inherit; }

.centrar {
  text-align: center; }

.sinSubrayado {
  list-style-type: none;
  text-decoration: none; }

.colorLink {
  background-color: #e2b67d;
  border-radius: 5px; }

.separacionEsq {
  border-style: solid; }

.textDerecha {
  justify-content: flex-end; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.menuFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 60px; }

.separacion {
  margin: 50px; }

.footer {
  grid-area: pie;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%; }

.corto {
  width: 550px; }

.centrado {
  justify-content: center; }
