/*******************COLORES*******************/

header{      
    color:rgb(228, 189, 139);
    background-color: rgb(226, 182, 125) ;
    background-image: linear-gradient(to top,rgb(228, 189, 139),rgb(226, 182, 125) );
}
body{
    background-image: linear-gradient(to bottom left,rgb(251, 210, 155),rgb(251, 210, 155));
}
h2{
    color:white;
    background-color:rgb(226, 182, 125);
  
}
h3{
    color:white;
    background-color:rgb(226, 182, 125);
    border-radius:45px;
}
li{
    color:white;
}

p{
    color:white;
    background-color:rgb(226, 182, 125);
}
footer{
    color: white;
}


.colorOpcion{
    color: rgb(226, 182, 125);
}
.imagenNombre{
    background-color: white;
    font-size: 35px;
}

.footer{
    background-image: linear-gradient(to bottom left,rgb(228, 189, 139),rgb(226, 182, 125)) ;
}
