/*******************TIPOGRAFIAS*******************/
h3,li,footer{
    font-family: 'Oswald',sans-serif;
}
h1{
    font-family: 'Oswald',sans-serif;
    font-size: 10px;
    
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
       
}

p{
    font-family:'Oswald', sans-serif;
    font-size: 20px;
    border-radius: 15px;

}
.option{
    font-family:'Oswald', sans-serif; 
    background-color: rgb(226, 182, 125);
    color: white;
}
.centrado{
    display: flex;
    justify-content: center;
}