@import"reseteo";
@import"responsive";
@import"tipografias";
@import"colores";
@import"bem";



/*********************ESTILOS GENERALES*********************/
body{
    background-image: url(../imagen/fondo.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    
}
section{
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    width:400px;
    height:300px;
    border-radius: 20px;
}
header{
    position:static;
    bottom: 0;
    width: 100%;
} 

/*********************CLASES*********************/

.tituloCom{
    width: 15vh;
    color: rgb(226, 182, 125);
}
.tituloNegrita{
    font-weight: bold;
}

.tipoPosicion{
    list-style-position: inherit;
}

.centrar{
    text-align: center;
}

.sinSubrayado{
    list-style-type: none;
    text-decoration: none;   
}

.colorLink{
    background-color: rgb(226, 182, 125);
    border-radius:5px;
}

.separacionEsq{
    border-style:solid;
}

.textDerecha{
    justify-content: flex-end;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.menuFlex{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content:stretch;
    margin: 80px;
}

.separacion{
        margin:50px;
}


.footer {
    grid-area: pie;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.corto{
    width: 550px;
}
.centrado{
    justify-content: center;
}





